*{
  box-sizing:border-box;
}

body{
  margin:0;
  background:#0b0f18;
  color:white;
  font-family:sans-serif;
}

.app{
  width:100%;
  max-width:520px;
  margin:auto;
  padding:20px;
}

h1{
  text-align:center;
  font-size:42px;
  margin-bottom:10px;
}

.subtitle{
  text-align:center;
  opacity:0.7;
  line-height:1.6;
  margin-bottom:25px;
}

#setKeyBtn{
  width:100%;
  padding:16px;
  border:none;
  border-radius:20px;
  margin-bottom:20px;
  background:#6c5ce7;
  color:white;
  font-size:18px;
  font-weight:bold;
}

.buttons{
  display:flex;
  gap:12px;
}

.upload-btn{
  flex:1;
  padding:20px;
  border-radius:22px;
  text-align:center;
  font-size:22px;
  font-weight:bold;
  cursor:pointer;
}

.camera{
  background:#1f6fff;
}

.album{
  background:#ff9f0a;
}

.upload-btn input{
  display:none;
}

#preview{
  width:100%;
  margin-top:20px;
  border-radius:24px;
  display:none;
}

#analyzeBtn{
  width:100%;
  padding:20px;
  margin-top:20px;
  border:none;
  border-radius:24px;
  background:#00d084;
  color:black;
  font-size:24px;
  font-weight:bold;
}

#loading{
  text-align:center;
  margin-top:20px;
  font-size:20px;
}

.hidden{
  display:none;
}

.food-card{
  margin-top:20px;
  background:#171d2a;
  padding:20px;
  border-radius:24px;
}

.food-card h2{
  margin-top:0;
}

.kcal{
  font-size:48px;
  font-weight:bold;
  margin:10px 0;
}

.macros{
  display:flex;
  gap:10px;
}

.macro{
  flex:1;
  background:#232b3d;
  padding:12px;
  border-radius:16px;
  text-align:center;
}

.total{
  margin-top:25px;
  background:#242d42;
  padding:25px;
  border-radius:28px;
  text-align:center;
}

.total h1{
  font-size:64px;
  margin:10px 0;
}

.error{
  margin-top:20px;
  background:#ff3b30;
  padding:20px;
  border-radius:20px;
  white-space:pre-wrap;
}